/*
Apps > Obsidian.md > Snippet 
───────────────────────────────────────────────────

Willemstad | v0.1.2h1
by @tingmelvin
https://github.com/tingmelvin/willemstad/

───────────────────────────────────────────────────
written and tested (on Windows) for

SHIMMERING FOCUS by @pseudometa
Version 1.766
https://github.com/chrisgrieser/shimmering-focus/
MIT License

───────────────────────────────────────────────────
*/

/*
THINGS TO DO
1. change RGBA to HSL to streamline with Chris' theme (with alt-options for RGBA and HEX)
2. Create documentation
*/

/* ───────────────────────────────────────────────────
[ROOT] Where new stuff can be set!
───────────────────────────────────────────────────*/
:root{
    /* Add header background colours */
	--colour-bg-h1:         var(--bg1);
	--colour-bg-h2:         rgba(0, 175, 77, .20);
	--colour-bg-h3:         rgba(0, 157, 219, .25);
	--colour-bg-h4:         rgba(255, 125, 0, .25);
	--colour-bg-h5:         rgba(188, 52, 186, .25);
	--colour-bg-h6:         var(--bg1);

    /* Add header font colours */
	--colour-heading-1:     rgb(243, 40, 55);   /* PANTONE Red 032 C            */
    --colour-heading-2:     rgb(0, 175, 77);    /* PANTONE Hexachrome Green C   */
    --colour-heading-3:     rgb(0, 157, 219);   /* PANTONE Process Cyan C       */
    --colour-heading-4:     rgb(255, 125, 0);   /* PANTONE Hexachrome Orange C  */
    --colour-heading-5:     rgb(188, 52, 186);  /* PANTONE Purple C             */
    --colour-heading-6:     rgb(0, 37, 150);    /* PANTONE Reflex Blue C        */

    /* Change text accent colours */
	--text-accent:          #1e0c75;
    --text-accent-hover:    #1e0c7566;

    /* (PLUGIN | Calendar) Change Calendar today's date font */
    --colour-cal-today:     rgb(255, 125, 0);

    /* Streamline unchangeable fonts (in Style Settings) */
    --smallcap-font:            "Recursive S", "Inter", "Alegreya Sans SC";
    --setting-heading:          "Recursive S", "Inter SemiBold", "Alegreya Sans SC";
    /* As above, but for buttons/dropdowns */
    --button-font-angular:      "Recursive S";
    --button-font-not-angular:  "Recursive S";




}

/* Minimising wasted space within each editing/reading tab
less left and right margins */
/*!!! This will/might break stuff like indicators*/
body > .app-container .view-content > div > .markdown-preview-view {
    padding-left: 25px;
    padding-right: 20px;
}

/* Trying to fix indicators */
/* Cross indicator */
body:not(.no-unresolved-link-indicator) a.internal-link.is-unresolved::BEFORE {
    left: 5px;
}
/* Dot indicator */
body:not(.no-fn-indicator) .footnote-link:not(.footnote-backref)::BEFORE, body:not(.no-fn-indicator) .mod-cm6.cm-s-obsidian span.cm-footref.cm-formatting::BEFORE {
    left: 5px;
    padding: 0 0px;
    margin-top: 3px;
}
/* Search indicator (>) */
body:not(.no-search-result-indicator) .obsidian-search-match-highlight::BEFORE {
    left: 4px;
    padding: 1px 0 1px 0;
}

/* Minimising wasted space for page/section break bars */
hr {
    margin: 10px 0;
}

/* ───────────────────────────────────────────────────
[DRAFT] (SHADOW EFFECT) Choose how big your shadow should be!
───────────────────────────────────────────────────*/
/*
body .shadow-max .theme-light, body .shadow-max .theme-dark {
    --big-shadow: 4px 6px var(--shadow-blur) calc(var(--shadow-base-size) + 10px) var(--shadow-color);
    --medium-shadow: 4px 6px var(--shadow-blur) calc(var(--shadow-base-size) + 5px) var(--shadow-color);
    --small-shadow: 1px 3px var(--shadow-blur) calc(var(--shadow-base-size) + 0px) var(--shadow-color);
    --tiny-shadow: 0.5px 1px var(--shadow-blur) calc(var(--shadow-base-size) / 2) var(--shadow-color);
}
body .shadow-min .theme-light, body .shadow-min .theme-dark {
    --big-shadow: 1px 1px var(--shadow-blur) calc(var(--shadow-base-size) + 1px) var(--shadow-color);
    --medium-shadow: 1px 1px var(--shadow-blur) calc(var(--shadow-base-size) + 0.5px) var(--shadow-color);
    --small-shadow: 0.5px 0.5px var(--shadow-blur) calc(var(--shadow-base-size) + 0px) var(--shadow-color);
    --tiny-shadow: 0.25px 0.25px var(--shadow-blur) calc(var(--shadow-base-size) / 2) var(--shadow-color);
}
body .shadow-none .theme-light, body .shadow-none .theme-dark {
    --big-shadow: 0;
    --medium-shadow: 0;
    --small-shadow: 0;
    --tiny-shadow: 0;
} 
*/

body.theme-light, body.theme-dark {
    --big-shadow: 1px 1px var(--shadow-blur) calc(var(--shadow-base-size) + 1px) var(--shadow-color);
    --medium-shadow: 1px 1px var(--shadow-blur) calc(var(--shadow-base-size) + 0.5px) var(--shadow-color);
    --small-shadow: 0.5px 0.5px var(--shadow-blur) calc(var(--shadow-base-size) + 0px) var(--shadow-color);
    --tiny-shadow: 0.25px 0.25px var(--shadow-blur) calc(var(--shadow-base-size) / 2) var(--shadow-color);
}

/* side stuff, not exactly sure how it works */
.markdown-preview-section h1, .markdown-preview-section h2, .markdown-preview-section h3,
.markdown-preview-section h4, .markdown-preview-section h5, .markdown-preview-section h6{
	padding: 8px 0 8px 32px;
	margin: 8px 0;
}
  

.markdown-embed .markdown-preview-section h1, .markdown-embed .markdown-preview-section h2, .markdown-embed .markdown-preview-section h3,
.markdown-embed .markdown-preview-section h4, .markdown-embed .markdown-preview-section h5, .markdown-embed .markdown-preview-section h6{
	padding: 4px 0 4px 8px;
	margin: 4px 0;
}

/*
.markdown-preview-section h1,
  .markdown-preview-section h2{
	border-bottom: 4px solid var(--background-modifier-border);
}
*/

/* Minimise padding for the header collapse indicator */
.markdown-preview-view .heading-collapse-indicator {
    margin-left: -30px;
    padding: 0 5px;
}

/* Change vertical tab header to no spacing*/
.vertical-tab-header-group-title {
    letter-spacing: 0px;
}

/* Make left pane folder/file titles smaller */
.nav-file-title, .nav-folder-title {
    line-height: 1em;
    font-size: 12px;
}

/* Make bottom buttons for sliding panes more centered */
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-header .view-actions {
    margin: 2px;
}

/* Change settings button texts to no spacing */
textarea, button, select.dropdown {
    letter-spacing: 0px;
}

/* Change input boxes texts to no spacing */
input[type="text"], input[type="email"], input[type="password"], input.prompt-input, .hotkey-search-container input, .setting-item input, .search-input-container input, body > .app-container input, .style-settings-container input {
    letter-spacing: 0px;
}

/* ───────────────────────────────────────────────────
(CHANGE FONTS | BUTTONS & DROPDOWNS) Change button fonts in Settings etc.
Defaults "--button-font" to var, which then can be changed
───────────────────────────────────────────────────*/
.angular-shapes {
	--button-font: var(--button-font-angular);
}
body:not(.angular-shapes) {
	--button-font: var(--button-font-not-angular);
}

/* ───────────────────────────────────────────────────
(CHANGE FONT WEIGHT | DOCUMENT TITLE)
───────────────────────────────────────────────────
> (OPTION) Bold document title if enabled
───────────────────────────────────────────────────*/
.bold-doc-title .view-header-title {
    font-size: 1em;
    font-weight: 600;
}

/* ───────────────────────────────────────────────────
(HEADERS | TEXT/FONT COLOURS)
───────────────────────────────────────────────────
> (OPTIONS) Change header font colours
───────────────────────────────────────────────────*/
/* (Reading Mode) Change header font colours */
.markdown-preview-view h1 {
    color: var(--colour-heading-1);
}
.markdown-preview-view h2 {
    color: var(--colour-heading-2);
}
.markdown-preview-view h3 {
    color: var(--colour-heading-3);
}
.markdown-preview-view h4 {
    color: var(--colour-heading-4);
}
.markdown-preview-view h5 {
    color: var(--colour-heading-5);
}
.markdown-preview-view h6 {
    color: var(--colour-heading-6);
}
/* (Editing Mode) Change header font colours (source view/live preview) */
.cm-header-1 {
    color: var(--colour-heading-1);
}
.cm-header-2 {
    color: var(--colour-heading-2);
}
.cm-header-3 {
    color: var(--colour-heading-3);
}
.cm-header-4 {
    color: var(--colour-heading-4);
}
.cm-header-5 {
    color: var(--colour-heading-5);
}
.cm-header-6 {
    color: var(--colour-heading-6);
}

/* ───────────────────────────────────────────────────
(HEADERS | BACKGROUND COLOURS)
───────────────────────────────────────────────────
> (OPTION) Adding header background colours
───────────────────────────────────────────────────*/
.markdown-preview-section h1,
  .HyperMD-header-1.cm-line{
	background-color: var(--colour-bg-h1);
}
.markdown-preview-section h2,
  .HyperMD-header-2.cm-line{
	background-color: var(--colour-bg-h2);
} 
.markdown-preview-section h3,
  .HyperMD-header-3.cm-line{
	background-color: var(--colour-bg-h3);
} 
.markdown-preview-section h4,
  .HyperMD-header-4.cm-line{
	background-color: var(--colour-bg-h4);
}
.markdown-preview-section h5,
  .HyperMD-header-5.cm-line{
	background-color: var(--colour-bg-h5);
} 
.markdown-preview-section h6,
  .HyperMD-header-6.cm-line{
	background-color: var(--colour-bg-h6);
}

/* ───────────────────────────────────────────────────
(UNDERLINES ADJUSTMENT)
(thanks to Cecilia May for suggestions re: "u" and streamlining code!)
───────────────────────────────────────────────────
>> NOTE: 'text-underline-position: under' is relatively new even for Chromium/Electron, so use with care.
───────────────────────────────────────────────────*/
.link-lower-u u {
    text-decoration: underline;
    text-underline-position: under;
}
/* (OPTION) Change hyperlink underlines lower to be more readable */
/* In this order: External Link, Internal Link (Reading Mode), Internal Link (Editing), Internal Hover (Editing) */
.link-lower .external-link, .link-lower .markdown-preview-view .internal-link, .link-lower .markdown-source-view.mod-cm6 .cm-underline, .link-lower .cm-s-obsidian span.cm-hmd-internal-link:hover {
    text-decoration: underline;
    text-underline-position: under;
}

/* ───────────────────────────────────────────────────
(NO UNWANTED SHADOWS)
─────────────────────────────────────────────────── */
.theme-light {
    --inset-shadow-color: none;
}
.theme-dark {
    --inset-shadow-color: none;
}

/* ───────────────────────────────────────────────────
(COLLAPSE INDICATOR)
───────────────────────────────────────────────────*/
/* (OPTION) Changing collapse header triangle to Sanctum-style */
.collapse-header-sanctum svg.right-triangle{
    height: 0.875rem;
    width: 0.875rem;
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cpolygon points='16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 '/%3E%3Crect id='_x3C_Transparent_Rectangle_x3E_' class='st0' width='32' height='32'/%3E%3C/svg%3E");
}
/* Ensuring collapse indicator remains large enough */
.heading-collapse-indicator.collapse-indicator.collapse-icon svg.right-triangle{
	height: 16px;
	width: 16px;
}

/* ───────────────────────────────────────────────────
(SEAMLESS BORDERS)
───────────────────────────────────────────────────
> (OPTION) Change embeds to be seamless - no borders!
─────────────────────────────────────────────────── */
.seamless-embeds .markdown-preview-view div.markdown-embed {
    border-top: none;
    border-bottom: none;
}
.seamless-embeds .markdown-embed, .file-embed {
    border-top: 1px solid var(--background-modifier-border);
    border-bottom: 1px solid var(--background-modifier-border);
    padding: 4px 0;
    margin: 0px 0;
}
.seamless-embeds .markdown-embed .markdown-preview-view {
    padding: 0em 0.25em 0em 1em;
}

/* ───────────────────────────────────────────────────
(NO EMBEDDED IMAGE ALT CONTENT) Remove embedded image alt content
─────────────────────────────────────────────────── */
.remove-embed-image .image-embed[alt]::AFTER {
    content: none;
}

/* ───────────────────────────────────────────────────
(DOUBLE BLOCKQUOTE FIX) Making sure they play nice
─────────────────────────────────────────────────── */
.markdown-preview-view *:not(blockquote) > blockquote > blockquote {
    padding: 1em 0 0 0;
}

/* ───────────────────────────────────────────────────
[DRAFT] (DOUBLE BLOCKQUOTE FIX) Making sure they play nice
─────────────────────────────────────────────────── */
/*.dynamic-command-palette body:not(.move-plugin-name-to-left):not(.is-mobile) .suggestion-prefix {
    padding-left: 0.5em;
    padding-right: 0.5em;
}*/


/* ───────────────────────────────────────────────────
PLUGIN-SPECIFIC SETTINGS
─────────────────────────────────────────────────── */


/* ───────────────────────────────────────────────────
(PLUGIN | Emoji Toolbar) Making it work better + Change font to suit global font
─────────────────────────────────────────────────── */
button.document-search-button, body .excalidraw .HelpDialog--btn, a.style-settings-import, a.style-settings-export, .modal.modal.modal.modal.modal button {
    border: 0;
}
/* (OPTION) Change Emoji Toolbar to default UI font */
.emoji-font-1 .emoji-mart {
    font-family: var(--ui-font-family) !important;
    font-size: 16px;
    border: 0;
}
/* (OPTION) Hide "Emoji Mart" Text */
.emoji-font-2 .emoji-mart-title-label {
    font-size: 0;
}
.emoji-mart-anchor-bar {
    height: 0;
}

/* ───────────────────────────────────────────────────
(PLUGIN | Calendar) Change today's date's colour
─────────────────────────────────────────────────── */
.workspace-leaf-content[data-type="calendar"] .day.today {
    color: var(--colour-cal-today);
}

/* ───────────────────────────────────────────────────
[DRAFT] (PLUGIN | Sliding Panes) How to override body as a Style Setting?
─────────────────────────────────────────────────── */
/*
.plugin-sp-no-shadow body .plugin-sliding-panes-stacking .workspace > .mod-root > .workspace-leaf {
    box-shadow: 0;
}
/

/* ───────────────────────────────────────────────────
(PLUGIN | Style Settings) Show Block Description Change
─────────────────────────────────────────────────── */
.plugin-styleset-blockdesc-yes .style-settings-heading:not(.is-collapsed) .setting-item-description {
    display: block !important;
}

/* ───────────────────────────────────────────────────
(PLUGIN | Style Settings) Options!
─────────────────────────────────────────────────── */
/* @settings
name: Willemstad | Theme Variant for Shimmering Focus (Theme)
id: willemstad
settings:
    -
        id: important
        title: IMPORTANT! This snippet is meant to be used with the theme Shimmering Focus. Please load said theme before proceeding.
        title.zh: 注意! 此‘威廉斯塔德’CSS代码片段应与Shimmering Focus主题一起使用。请先下载Shimmering Focus主题，而后使用此CSS代码片段。
        title.zh-TW: 注意! 此‘威廉斯塔德’CSS代碼片段應與Shimmering Focus主題一起使用。請先下載Shimmering Focus主題，而後使用此CSS代碼片段。
        type: heading
        description: To use this snippet as the creator intended, please change all fonts (other than "Monospace Font" and "Heading Font") in Shimmering Focus's own Style Settings to "Inter". Please also opt for "Inter SemiBold" for the Heading Font. Default Shimmering Focus core options are listed in the description of each other, if they were changed in this theme variant/snippet.
        description.zh: 建议您使用Shimmering Focus主题自己本身的Style Settings把所有字体（除了 "Monospace Font/代码框字体" 与 "Heading Font/大纲文字字体") 改设成 Inter.
        description.zh-TW: 建議您使用Shimmering Focus主题自己本身的Style Settings把所有字體（除了 "Monospace Font/代碼框字體" 與 "Heading Font/大綱文字字體") 改設成 Inter.
        level: 2
        collapsed: true
    -
     id: aesthetics
     title: Aesthetics
     type: heading
     level: 1
     collapsed: true
    -
        id: collapse-header-sanctum
        title: Sanctum-style Header Collapse Indicator
        type: class-toggle
        description: When enabled, Sanctum's more minimalist header collapse indicator will be used instead of Shimmering Focus' original indicator.
        default: enabled
    -
        id: remove-embed-image
        title: Remove Embedded Image Title
        type: class-toggle
        description: When enabled, this removes the embedded image title currently present underneath linked images.
        default: true
    -
        id: seamless-embeds
        title: Seamless Embeds — Remove Embed Block Borders
        type: class-toggle
        description: When enabled, this removes the borders for the embed blocks.
        default: true
    -
        id: shadows
        title: [DRAFT] Shadows Size
        description: Choose which shadow size you would like to grace your screens.
        type: class-select
        allowEmpty: false
        default: shadow-max
        options:
		    -
			    label: Large Shadows (Classic Shimmering Focus)
			    value: shadow-max
		    -
			    label: Minimal Shadows (Willemstad variant)
			    value: shadow-min
		    -
			    label: No Shadows
			    value: shadow-none
    -
     id: typography
     title: Typography
     title.zh: 排版
     title.zh-TW: 排版
     type: heading
     description: Fonts and Headings | If an option is not available, this is most probably available in Shimmering Focus' own Style Settings.
     description.zh: 字体设计与标题设计 | 如果没有所需要的选项，请用与参考Shimmering Focus主题原本的Style Settings.
     description.zh-TW: 字體設計與標題設計 | 如果沒有所需要的選項，請用與參考Shimmering Focus主题原本的Style Settings.
     level: 1
     collapsed: true
    -
     id: bold-doc-title
     title: Bold Document Titles
     type: class-toggle
     description: When enabled, this bolds the document title.
     default: true
    -
        id: fonts
        title: Fonts
        title.zh: 字体设计
        title.zh-TW: 字體設計
        description: Options for font settings unavailable in Shimmering Focus' own Style Settings.
        type: heading
        level: 2
        collapsed: true
    -
            id: smallcap-font
            title: Font — Smallcaps
            title.zh: 小号大写字母字体
            title.zh-TW: 小號大寫字母字體
            description: For standard Shimmering Focus, type "Alegreya Sans SC" (with the quotation marks included).
            type: variable-text
            default: '"Recursive S", "Inter", "Alegreya Sans SC"'
    -
            id: setting-heading
            title: Font — Settings Menu Heading 
            title.zh: 设定选单字体
            title.zh-TW: 設定選單字體
            description: Changes the heading font in the Settings menu. For standard Shimmering Focus, type "Alegreya Sans SC" (with the quotation marks included).
            type: variable-text
            default: '"Recursive S", "Inter SemiBold", "Alegreya Sans SC"'
    -
            id: mermaid-font
            title: Font — Mermaid.js
            description: Changes font for Mermaid.js in the theme.
            type: variable-text
            default: '"Inter"'
    -
            id: button-font-angular
            title: Font — Buttons and Dropdowns (Angular Shapes)
            title.zh: 按钮与下拉式菜单字体
            title.zh-TW: 按鈕與下拉式菜單字體
            description: Changes the font in angular buttons and dropdowns across the theme. For standard Shimmering Focus, type "Oxanium S" (with the quotation marks included).
            type: variable-text
            default: '"Recursive S", "Inter Light", "Oxanium S"'
    -
            id: button-font-not-angular
            title: Font — Buttons and Dropdowns (Non-Angular Shapes)
            title.zh: 按钮与下拉式菜单字体
            title.zh-TW: 按鈕與下拉式菜單字體
            description: Changes the font in non-angular buttons and dropdowns across the theme. For standard Shimmering Focus, type "Quicksand S" (with the quotation marks included).
            type: variable-text
            default: '"Recursive S", "Inter Light", "Quicksand S"'
    -
        id: underlines
        title: Underlines
        description: Options to shift underlines lower or as per default.
        type: heading
        level: 2
        collapsed: true
    -
            id: link-lower-u
            title: Lower Underlines — Normal Text
            type: class-toggle
            description: When enabled, this will shift underlines lower so that it will not cross descenders (the bottom portion of a letter that extends below the baseline of a font, in letters "g, j, q, p, y". This DOES NOT affect hyperlinks (for hyperlinks, use the option immediately below this). This option aids readability.
            default: true
    -
            id: link-lower
            title: Lower Underlines — Hyperlinks
            type: class-toggle
            description: When enabled, this will shift the underlines for hyperlinks lower so that it will not cross descenders (the bottom portion of a letter that extends below the baseline of a font, in letters "g, j, q, p, y". This option aids readability.
            default: true
    -
        id: heading font colours
        title: Colours — Header Text
        title.zh: 大纲文字颜色选择
        title.zh-TW: 大綱文字顏色選擇
        type: heading
        description: Changes the font colours of the headers (H1–H6).
        level: 2
        collapsed: true
    -
            id: colour-heading-1
            title: Font Colour — H1
            title.zh: H1 标题颜色
            title.zh-TW: H1 標題顏色
            type: variable-themed-color
            description: Default — PANTONE Red 032 C
            description.zh: 默认颜色：潘通 Red 032 C
            description.zh-TW: 默認顏色：潘通 Red 032 C
            opacity: false
            format: rgb
            default-dark: rgb(243, 40, 55)
            default-light: rgb(243, 40, 55)
    -
            id: colour-heading-2
            title: Font Colour — H2
            title.zh: H2 标题颜色
            title.zh-TW: H2 標題顏色
            type: variable-themed-color
            description: Default — PANTONE Hexachrome Green C
            description.zh: 默认颜色：潘通 Hexachrome Green C
            description.zh-TW: 默認顏色：潘通 Hexachrome Green C
            opacity: false
            format: rgb
            default-dark: rgb(0, 175, 77)
            default-light: rgb(0, 175, 77)
    -
            id: colour-heading-3
            title: Font Colour — H3
            title.zh: H3 标题颜色
            title.zh-TW: H3 標題顏色
            type: variable-themed-color
            description: Default — PANTONE Process Cyan C
            description.zh: 默认颜色：潘通 Process Cyan C
            description.zh-TW: 默認顏色：潘通 Process Cyan C
            opacity: false
            format: rgb
            default-dark: rgb(0, 157, 219)
            default-light: rgb(0, 157, 219)
    -
            id: colour-heading-4
            title: Font Colour — H4
            title.zh: H4 标题颜色
            title.zh-TW: H4 標題顏色
            type: variable-themed-color
            description: Default — PANTONE Hexachrome Orange C
            description.zh: 默认颜色：潘通 Hexachrome Orange C
            description.zh-TW: 默認顏色：潘通 Hexachrome Orange C
            opacity: false
            format: rgb
            default-dark: rgb(255, 125, 0)
            default-light: rgb(255, 125, 0)
    -
            id: colour-heading-5
            title: Font Colour — H5
            title.zh: H5 标题颜色
            title.zh-TW: H5 標題顏色
            type: variable-themed-color
            description: Default — PANTONE Purple C
            description.zh: 默认颜色：潘通 Purple C
            description.zh-TW: 默認顏色：潘通 Purple C
            opacity: false
            format: rgb
            default-dark: rgb(188, 52, 186)
            default-light: rgb(188, 52, 186)
    -
            id: colour-heading-6
            title: Font Colour — H6
            title.zh: H6 标题颜色
            title.zh-TW: H6 標題顏色
            type: variable-themed-color
            description: Default — PANTONE Reflex Blue C (Light Theme); PANTONE Process Blue C (Dark Theme) 
            description.zh: 白天模式默认颜色：潘通 Reflex Blue C | 黑夜模式默认颜色：潘通 Process Blue C
            description.zh-TW: 白天模式默認顏色：潘通 Reflex Blue C | 黑夜模式默認顏色：潘通 Process Blue C
            opacity: false
            format: rgb
            default-dark: rgba(0, 133, 207, 1)
            default-light: rgba(0, 37, 150, 1)
    -
        id: heading background colours
        title: Colours — Header Background
        title.zh: 大纲文字背景颜色选择
        title.zh-TW: 大綱文字背景顏色選擇
        type: heading
        description: Changes the background colours of the headers (H1–H6).
        level: 2
        collapsed: true
    -
            id: colour-bg-h1
            title: Background Colour — H1
            title.zh: H1 标题背景颜色
            title.zh-TW: H1 標題背景顏色
            type: variable-themed-color
            description: Default — Transparent
            description.zh: 默认背景颜色：透明
            description.zh-TW: 默認背景顏色：透明
            opacity: true
            format: rgb
            default-dark: rgba(255, 255, 255, .00)
            default-light: rgba(255, 255, 255, .00)
    -
            id: colour-bg-h2
            title: Background Colour — H2
            title.zh: H2 标题背景颜色
            title.zh-TW: H2 標題背景顏色
            type: variable-themed-color
            description: Default — PANTONE Hexachrome Green C (20% opacity)
            description.zh: 默认背景颜色：潘通 Hexachrome Green C (20% 不透明度)
            description.zh-TW: 默認背景顏色：潘通 Hexachrome Green C (20% 不透明度)
            opacity: true
            format: rgb
            default-dark: rgba(0, 175, 77, .20)
            default-light: rgba(0, 175, 77, .20)
    -
            id: colour-bg-h3
            title: Background Colour — H3
            title.zh: H3 标题背景颜色
            title.zh-TW: H3 標題背景顏色
            description: Default — PANTONE Process Cyan C (25% opacity)
            description.zh: 默认背景颜色：潘通 Process Cyan C (25% 不透明度)
            description.zh-TW: 默認背景顏色：潘通 Process Cyan C (25% 不透明度)
            type: variable-themed-color
            opacity: true
            format: rgb
            default-dark: rgba(0, 157, 219, .25)
            default-light: rgba(0, 157, 219, .25)
    -
            id: colour-bg-h4
            title: Background Colour — H4
            title.zh: H4 标题背景颜色
            title.zh-TW: H4 標題背景顏色
            type: variable-themed-color
            description: Default — PANTONE Hexachrome Orange C (20% opacity)
            description.zh: 默认背景颜色：潘通 Hexachrome Orange C (20% 不透明度)
            description.zh-TW: 默認背景顏色：潘通 Hexachrome Orange C (20% 不透明度)
            opacity: true
            format: rgb
            default-dark: rgba(255, 125, 0, .20)
            default-light: rgba(255, 125, 0, .20)
    -
            id: colour-bg-h5
            title: Background Colour — H5
            title.zh: H5 标题背景颜色
            title.zh-TW: H5 標題背景顏色
            type: variable-themed-color
            description: Default — PANTONE Purple C (25% opacity)
            description.zh: 默认背景颜色：潘通 Purple C (25% 不透明度)
            description.zh-TW: 默認背景顏色：潘通 Purple C (25% 不透明度)
            opacity: true
            format: rgb
            default-dark: rgba(188, 52, 186, .25)
            default-light: rgba(188, 52, 186, .25)
    -
            id: colour-bg-h6
            title: Background Colour — H6
            title.zh: H6 标题背景颜色
            title.zh-TW: H6 標題背景顏色
            type: variable-themed-color
            description: Default — Transparent
            description.zh: 默认背景颜色：透明
            description.zh-TW: 默認背景顏色：透明
            opacity: true
            format: rgb
            default-dark: rgba(255, 255, 255, .00)
            default-light: rgba(255, 255, 255, .00)
    -
     id: plugin
     title: Plugin-Specific Settings
     type: heading
     description: The options here allows you to tweak how plugins are displayed.
     level: 1
     collapsed: true
    -
        id: colour-cal-today
        title: (Calendar) Change colour for today's date
        type: variable-themed-color
        description: Default — PANTONE Hexachrome Orange C
        description.zh: 默认颜色：潘通 Hexachrome Orange C
        description.zh-TW: 默認顏色：潘通 Hexachrome Orange C
        opacity: false
        format: rgb
        default-dark: rgb(255, 125, 0)
        default-light: rgb(255, 125, 0)
    -
        id: emoji-font-1
        title: (Emoji Toolbar) Change Emoji Toolbar font to default UI font
        type: class-toggle
        description: When enabled, this applies the default global UI font (as selected in Shimmering Focus' Style Settings) to the toolbar.
        default: true
    -
        id: emoji-font-2
        title: (Emoji Toolbar) Hide "Emoji Mart" title in the Emoji Toolbar
        type: class-toggle
        description: When enabled, this hides the "Emoji Mart" branding in the Emoji Toolbar.
        default: true
    -
        id: plugin-styleset-blockdesc-yes
        title: (Style Settings) Keep Heading Block Description visible
        type: class-toggle
        description: When enabled, this keeps the heading description in the Style Settings visible when said option is toggled.
        default: true
    -
        id: plugin-sp-no-shadow
        title: [DRAFT] (Sliding Panes) No shadows between two panes
        type: class-toggle
        description: When enabled, this removes the shadows between two sliding panes when using the Sliding Panes plugin.
        default: true
*/
