    /* Add header background colours */
	/*
    --colour-bg-h1:         var(--bg1);
	--colour-bg-h2:         hsla(146, 100, 34.3, 0.20);
	--colour-bg-h3:         hsla(197, 100, 42.9, 0.25);
	--colour-bg-h4:         hsla(29, 100, 50.0, 0.20);
	--colour-bg-h5:         hsla(301, 56.7, 47.1, 0.25);
	--colour-bg-h6:         var(--bg1);
    */

    /* Testing new scheme - LSHTM */
    /*
    body.theme-light.css-settings-manager {
        --colour-heading-1: rgb(0,191,111);
        --colour-heading-2: rgb(13,82,87);
        --colour-heading-3: rgb(30,34,170);
        --colour-heading-4: rgb(98,18,68);
        --colour-heading-5: rgb(254,80,0);
        --colour-bg-h2: rgba(0,191,111,0.2);
        --colour-bg-h3: rgba(0,174,199,0.25);
        --colour-bg-h4: rgba(255,171,186,0.2);
        --colour-bg-h5: rgba(255,184,28,0.2);
        --colour-heading-6: rgb(13,82,87);
        --text-accent: rgb(13,82,87);
        --text-accent-hover: rgb(0,191,111);
        --colour-cal-today: rgb(0,191,111);
    }
    body.theme-dark.css-settings-manager {
    --colour-heading-6: rgb(0,191,111);
    --colour-heading-1: rgb(13,82,87);
    --colour-heading-2: rgb(0,191,111);
    --colour-heading-3: rgb(0,174,199);
    --colour-heading-4: rgb(255,171,186);
    --colour-heading-5: rgb(255,184,28);
    --colour-bg-h2: rgba(13,82,87,0.2);
    --colour-bg-h3: rgba(30,34,170,0.25);
    --colour-bg-h4: rgba(98,18,68,0.2);
    --colour-bg-h5: rgba(254,80,0,0.2);
    --text-accent: rgb(0,191,111);
    --text-accent-hover: rgb(13,82,87);
    --colour-cal-today: rgb(0,191,111);
}
    */

    /* Add header font colours */
    
	/*--colour-heading-1:     hsl(356, 89.4, 55.5);  *//* PANTONE Red 032 C            */
    /*--colour-heading-2:     hsl(146, 100, 34.3);    *//* PANTONE Hexachrome Green C   */
    /*--colour-heading-3:     hsl(197, 100, 42.9);   *//* PANTONE Process Cyan C       */
    /*--colour-heading-4:     hsl(29, 100, 50.0);   *//* PANTONE Hexachrome Orange C  */
    /*--colour-heading-5:     hsl(301, 56.7, 47.1);  *//* PANTONE Purple C             */
    /*--colour-heading-6:     hsl(225, 100, 29.4);    *//* PANTONE Reflex Blue C        */

        /*--colour-cal-today:     hsl(29, 100, 50.0); */


/*
     id: aesthetics
     title: Aesthetics
     type: heading
     level: 1
     collapsed: true
    -
    -
     id: typography
     title: Typography
     title.zh: 排版
     title.zh-TW: 排版
     type: heading
     description: Fonts, Underlines, Header Colours (text and background), File Explorer File/Folder Titles (font size and padding) | If an option is not available, this is most probably available in Shimmering Focus' own Style Settings.
     description.zh: 字体设计与标题设计 | 如果没有所需要的选项，请用与参考Shimmering Focus主题原本的Style Settings.
     description.zh-TW: 字體設計與標題設計 | 如果沒有所需要的選項，請用與參考Shimmering Focus主题原本的Style Settings.
     level: 1
     collapsed: true
     -
        id: colours-headers
        title: Header Colours
        title.zh: 大纲文字颜色选择
        title.zh-TW: 大綱文字顏色選擇
        type: heading
        description: Changes headers colours for both text and background (H1–H6).
        level: 2
        collapsed: true
    -
*/

/*  THIS CODE CAN'T WIN THE ALTERNATE ITALICS HEADER SETTING

    body.cp-classic-lshtm .cm-s-obsidian .cm-header,
    .cp-classic-lshtm .markdown-preview-view h1,
    .cp-classic-lshtm .markdown-preview-view h2,
    .cp-classic-lshtm .markdown-preview-view h3,
    .cp-classic-lshtm .markdown-preview-view h4,
    .cp-classic-lshtm .markdown-preview-view h5,
    .cp-classic-lshtm .markdown-preview-view h6 {
        font-weight: 600;
        letter-spacing: 0.2px;  
    }
    */ /* FORCES LESS HEADER SPACING | Probably breaks "less header spacing" option in Shimmering Focus */



    /* MAKES SURE INTER HEADERS RENDERS CORRECTLY AND NOT THICC */

body.cp-classic-oxon .cm-s-obsidian .cm-header,
body.cp-classic-oxon .markdown-preview-view h1,
body.cp-classic-oxon .markdown-preview-view h2,
body.cp-classic-oxon .markdown-preview-view h3,
body.cp-classic-oxon .markdown-preview-view h4,
body.cp-classic-oxon .markdown-preview-view h5,
body.cp-classic-oxon .markdown-preview-view h6 {
    font-weight: 600;
    letter-spacing: -0.015rem; /* FORCES LESS HEADER SPACING | BREAKS "Less Header Spacing" option in Shimmering Focus Style Settings | REMOVE IF NEEDED*/
    font-style: normal;  /* FORCES NORMAL | BREAKS "Alternate Italics" option in Shimmering Focus Style Settings | REMOVE IF NEEDED*/
}

/* MAKES SURE EXTERNAL LINK ISN'T OVER PADDED */
.cp-classic-oxon .external-link.external-link {
    padding-right: 1rem;
}


/* MAKES SURE INTER HEADERS RENDERS CORRECTLY AND NOT THICC */

body.cp-classic-lshtm .cm-s-obsidian .cm-header,
body.cp-classic-lshtm .markdown-preview-view h1,
body.cp-classic-lshtm .markdown-preview-view h2,
body.cp-classic-lshtm .markdown-preview-view h3,
body.cp-classic-lshtm .markdown-preview-view h4,
body.cp-classic-lshtm .markdown-preview-view h5,
body.cp-classic-lshtm .markdown-preview-view h6 {
    font-weight: 600;
    letter-spacing: -0.015rem; /* FORCES LESS HEADER SPACING | BREAKS "Less Header Spacing" option in Shimmering Focus Style Settings | REMOVE IF NEEDED*/
    font-style: normal;  /* FORCES NORMAL | BREAKS "Alternate Italics" option in Shimmering Focus Style Settings | REMOVE IF NEEDED*/
}

/* MAKES SURE EXTERNAL LINK ISN'T OVER PADDED */
.cp-classic-lshtm .external-link.external-link {
    padding-right: 1rem;
}


/*div.setting-item-description, div.setting-item-name, .style-settings-container {
        width: calc(var(--modal-width-settings) * 0.85 - 200px);
    }
    .setting-item {
        display: flex;
        flex-wrap: wrap;
    }
    .theme-light:not(.is-mobile) select.dropdown, .theme-light:not(.is-mobile) .modal select.dropdown,
    .theme-dark:not(.is-mobile) select.dropdown, .theme-dark:not(.is-mobile) .modal select.dropdown {
        max-width: calc(var(--modal-width-settings));
    }
    */
    /*
    .theme-light:not(.is-mobile) select.dropdown, .theme-light:not(.is-mobile) .modal select.dropdown,
    .theme-dark:not(.is-mobile) select.dropdown, .theme-dark:not(.is-mobile) .modal select.dropdown {
        width: calc(10vw + (2 * var(--modal-width-settings)));
        max-width: 35vw;
    }
    .theme-light:not(.is-mobile) textarea, .theme-light:not(.is-mobile) .modal-container input:not([type="range"]),
    .theme-dark:not(.is-mobile) textarea, .theme-dark:not(.is-mobile) .modal-container input:not([type="range"]) { */
        /* this breaks the "search plugins box somehow - fixed temporarily? with hotfix on SF above - first few lines*/
        /* width: calc(10vw + (2 * var(--modal-width-settings)));
        max-width: 20vw;
    }
    .style-settings-container .setting-item:not(.setting-item-heading) .setting-item-name + .setting-item-description {
        max-width: 50vw;
    }
    */

    /*
    --is-above-5: clamp(0, var(--value) - 5, 1)
    .theme-light:not(.is-mobile) .modal-container input:not([type="range"]) */